<div class="d-flex align-items-center justify-content-center search-margin">
  <form action="/search/users" method="POST">
    <h3>Choose the instrument:</h3>
    <select class="form-control" name="instruments" id="instruments">
      <option value="electric-guitar">Electric Guitar</option>
      <option value="acoustic-guitar">Acoustic Guitar</option>
      <option value="bass">Bass</option>
      <option value="keyboard">Keyboard</option>
      <option value="piano">Piano</option>
      <option value="drums">Drums</option>
      <option value="vocal">Vocalist</option>
      <option value="violin">Violin</option>
      <option value="saxophone">Saxophone</option>
      <option value="flute">Flute</option>
      <option value="cello">Cello</option>
      <option value="clarinet">Clarinet</option>
      <option value="trumpet">Trumpet</option>
      <option value="harp">Harp</option>
    </select>
    <button type="submit" class="btn btn-block search-btn">Search</button>
  </form>
</div>


<div class="user-ranking d-flex flex-column cards-margin">
  <div class="d-flex justify-content-around  flex-wrap">
    {{#each data}}
    <div class="card search-header-margin card-radius" style="width: 20rem;">
      <img src="{{this.profilePic.path}}" class="card-img-top card-img-size" alt="profile-image">
      <div class="card-body  d-flex flex-column">
        <h5 class="card-title">Name: {{this.name}}</h5>
        <p class="card-text">Biography: </p>
        <p class="card-text">{{biography}}</p>
        <div class="d-flex flex-column align-items-center justify-content-end card-link-size">
          <a href="/profile/{{_id}}" class="btn btn-primary justify-content-center">Profile</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>