<h2>Edit</h2>

<form action="/profile/edit" method="POST" id="form-container">

  <label for="firstName">First Name</label>
  <input id="firstName" type="text" name="firstName" placeholder="Your first name">

  <br><br>

  <label for="surname">Surname</label>
  <input id="surname" type="text" name="surname" placeholder="Your surname">

  <br><br>

  <label for="age">Age</label>
  <input id="age" type="text" name="age" placeholder="Your age">

  <br><br>

  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Your username">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  <br><br>

  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="me@domain.com">

  <br><br>

  <input type="checkbox" id="electric-guitar" name="electric-guitar">
  <label for="electric-guitar">Electric Guitar</label>
  <input type="checkbox" id="acoustic-guitar" name="acoustic-guitar">
  <label for="acoustic-guitar">Acoustic Guitar</label>
  <input type="checkbox" id="bass" name="bass">
  <label for="bass">Bass</label>
  <input type="checkbox" id="keyboards" name="keyboards">
  <label for="keyboards">Keyboards</label>
  <input type="checkbox" id="piano" name="piano">
  <label for="piano">Piano</label>
  <input type="checkbox" id="drums" name="drums">
  <label for="drums">Drums</label>
  <input type="checkbox" id="piano" name="piano">
  <label for="piano">Piano</label>
  <input type="checkbox" id="violin" name="violin">
  <label for="violin">Violin</label>
  <input type="checkbox" id="piano" name="piano">
  <label for="piano">Piano</label>
  <input type="checkbox" id="piano" name="piano">
  <label for="piano">Piano</label>

  <br><br>

  <label for="about">About</label>
  <br>
  <textarea name="about" id="about" cols="100" rows="10"></textarea>

  <br><br>

  <label>Profile Picture</label>
  <input type="file" name="image">

  <br><br>

  <button type="submit">Edit account</button>

</form>