@font-face {
  font-family: 'magic';
  src: url('../fonts/magic.ttf');
}


body {
  color: white;
  background-color: #471F5C;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100vw;
}
a {
  text-decoration: none;
}
.myNavColor a{
  font-family: 'magic';
  src: url('../fonts/magic.ttf');
  color: #CD70FF;
}
.myNavColor{
  font-family: 'magic';
  src: url('../fonts/magic.ttf');
  color: #CD70FF;
  
}
.no-padding {
  padding: 0;
}
.user-ranking {
  height: auto;
  color: #A94BDB;
}
.user-ranking .btn {
  border-radius: 10px;
  background-color: #B24FE8;
  border:none;
}
.footer-background-color {
  background-color: #9542C2;
  font-size: 16px;
}
.footer-img {
  height: 25px;
  width: 25px;
}
.logo-img{
  height: 194px;
  width: 320px;
}
.index-background {
  background-image: url('../imgs/guitar.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70%;  
}

.ranked-view-margin {
  margin-bottom: 2%;
  font-size: 1em;
  background-color: rgba(105, 102, 107,0.5);
  color:white;
  padding: 10px;
  border-radius: 20px;
}

.index-header {
  font-family: 'magic';
  src: url('../fonts/magic.ttf');
  color: white;
  background-color: rgba(105, 102, 107,0.5);
  background-size: cover;
  padding: 40px;
  border-radius: 50px;
}

.cards-margin {
  margin: 5% 0;
}
.authentication {
  background-color: white;
  color: black;
  width: 50%;
  height: 50vh;
  border: 5px solid black;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  justify-content: center;
}
.search-body {
  height: 80vh;
}
.search-background {
  background-color: white;
  padding: 100px;
  border-radius: 50px;
}
.search-background a{
 margin-bottom: 2%;
 background-color: #9F46CF;
 border: none;
}
.search-header-margin {
  margin-bottom: 5%;
}
@media (min-width: 520px){
  .index-header {
    font-family: 'magic';
    src: url('../fonts/magic.ttf');
    color: white;
    font-size: 2em;
    background-color: rgba(105, 102, 107,0.5);
    padding: 40px;
  }
  .ranked-view-margin {
    margin-bottom: 2%;
    font-size: 2em;
  }
}