<ul>
  <select name="bands" id="">
    {{#each user.bands}}
    <option value="">{{this.bandname}}</option>
    {{/each}}
  </select>
  {{#each data}}
  <li>
    {{username}} 
  </li>
  {{/each}}
</ul>