<div class="d-flex align-items-center justify-content-center flex-column search-body">
  <div class="search-background d-flex flex-column justify-conten-center align-items-center">
    <h1 class="myNavColor search-header-margin">What do you want to search?</h1>
    <a href="/search/users" class="btn btn-primary">Member</a>
    <a href="/search/bands" class="btn btn-primary">Band</a>
  </div>
</div>