<form action="/create-band" method="post">
  <input type="hidden" name="leader">
  <input type="hidden" name="members">
  <label for="bandlogo">Choose your logo: </label>
  <input type="file" name="bandlogo" id="band-logo">
  <label for="bandname">Band name: </label>
  <input type="text" name="bandname" id="">
  <label for="genre">Genre: </label>
  <input type="text" name="genre" id="">
  <label for="biography">Biography: </label>
  <textarea name="biography" id="band-bio" cols="100" rows="10"> </textarea>
  <button type="submit">Create my band!</button>
</form>