<form action="" method="post" enctype="multipart/form-data">
<label for="band-pic">Choose a nice image for your band !</label>
<input type="file" name="" id="">
  <label for="">Name: </label>
  <input type="text" name="bandname">
  <label for="">Biography: </label>
  <textarea name="biography" id="bio-band" cols="100" rows="20"></textarea>
  <label for="">Genre: </label>
  <input type="text" name="bandname">
</form>