<div class="box">
  <div class="band-create">
    <form action="/news/create" method="POST" enctype="multipart/form-data">
      <h1>Write your article!</h1>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title">
        <input type="hidden" name="writerID" value="{{user.id}}">

      </div>
      <div class="form-group">
        <label for="abstract">Abstract</label>
        <textarea class="form-control" name="abstract" id="abstract" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="text">Article text</label>
        <textarea class="form-control" name="text" id="text" rows="5"></textarea>
      </div>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="photo" id="photo" aria-describedby="inputGroupFileAddon04">
          <label class="custom-file-label" for="photo">Article Picture</label>
        </div>
      </div>

      <br>

      <div id="btn">
        <button type="submit" class="btn">Create article!</button>
      </div>
    </form>
  </div>
</div>